html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  height: 90vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lightslategray;
  color: lightgoldenrodyellow;
  position: relative;
}
p {
  margin-top: 0;
  margin-bottom: 25px;
}

.container {
  width: 90vw;
  max-width: 400px;
  height: 320px;
  position: relative;
}
svg {
  width: 100%;
  position: absolute;
}
h1 {
  font-size: 2.5em; /* 相对于 body 字体大小 */
}
.wrong-letters {
  text-align: right;
}
.word {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%; /* 居中 */
  transform: translateX(-50%); /* 水平居中修正 */
  gap: 10px;
}
.letter {
  border-bottom: 3px solid rgb(255, 255, 137);
  width: 20px;
  text-align: center;
  font-size: 24px;
  margin: 2px;
}
.win-message {
  width: 540px;
  height: 140px;
  background-color: #ff9900;
  box-shadow: 2px 2px 2px rgb(96, 96, 96);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 340px;
  border-radius: 5px;
}
.hidden-winmsg {
  display: none !important;
}
.game-over {
  width: 340px;
  height: 180px;
  background-color: #ff9900;
  box-shadow: 2px 2px 2px rgb(96, 96, 96);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 280px;
  border-radius: 5px;
}
.hidden {
  display: none !important;
}
h2,
h3 {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.final-word {
  color: rgb(38, 235, 20);
}

button {
  color: #ff9900;
  border: none;
  padding: 10px 17px;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  cursor: pointer;
}

.alert-message {
  width: 400px;
  height: 40px;
  background-color: #9a9999;
  position: absolute;
  bottom: -50px;
  border-radius: 5px;
  font-size: 17px;
  box-shadow: 2px 2px 3px rgb(141, 141, 141);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden-msg {
  display: none !important;
}
